.advantages {
    min-height: 470px;
    padding: 69px 0 80px 0;
    background-color: #f6f6f6;
    @include tablet-portrait {
        padding: 40px 0 40px 0;
    }  

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        @include tablet-portrait {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
    }

    img {
        width: 70px;
        height: 70px;
    }
    
    &__icon_animated {
        animation-name: heartbeat;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;    
    }
    
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
        @include tablet {
            max-width: 215px;
        }
        @include phone {
            margin-top: 35px;
        }
    }

    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    &__descr {
        margin-top: 25px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        @include tablet-portrait {
            margin-top: 15px;
        }
        a {
            color: $main-color;
            text-decoration: underline;
            &:hover {
                color: $main-color; 
            }
        }
    }
}


