.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    transition: 0.6s all;
    &:hover {
        box-shadow: 0 0 15px rgb(39, 223, 255);
        cursor: pointer;
        background-color: #3372b998;
        border: 2px outset rgba(255, 255, 255, 0.788);
    }

    @include phone {
        font-size: 11px;
        width: 120px;
        height: 25px;
        &:hover {
            background-color: $main-color;
        }
    }

    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        &:hover {
            box-shadow: 0 0 15px rgb(39, 223, 255);
            cursor: pointer;
            background-color: #3372b998;
            border: 2px outset rgba(255, 255, 255, 0.788);
        }
        @include phone {
            margin-top: 45px;
            width: 220px;
            height: 40px;
            font-size: 15px;
            &:hover {
                background-color: $main-color;
            }          
        }
    }

    &_submit {
        width: 300px;
        height: 55px;
        border-radius: 5px;
        font-size: 16px;
        &:hover {
            box-shadow: 0 0 15px rgb(39, 223, 255);
            cursor: pointer;
            background-color: #3372b998;
            border: 2px outset rgba(255, 255, 255, 0.788);
        }
        @include phone {
            margin-top: 45px;
            width: 220px;
            height: 40px;
            font-size: 15px;
            &:hover {
                background-color: $main-color;
            }          
        }
    }
    &_catalog {
        width: 131px;
        height: 40px;
        font-size: 14px;
        &:hover {
            box-shadow: 0 0 15px rgb(39, 223, 255);
            cursor: pointer;
            background-color: #00c01aa1;
            border: 2px outset rgba(255, 255, 255, 0.788);
        }
    }
}